@font-face {
    
    font-family: 'Crazy Killer';
    src: url('../fonts/crazy-killer.ttf') format('truetype');
}

@font-face {
    
    font-family: 'All Over Again';
    src: url('../fonts/AllOverAgain.ttf') format('truetype');
}